/* macro */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GT";
  src: url("fonts/GT\ Walsheim\ Light.ttf");
}

:root {
  --colVal: 255;
  --colValBurger: 255;
  --colValInv: 0;
}

body {
  background-color: rgb(var(--colValInv), var(--colValInv), var(--colValInv));
  margin: unset;
  transition: 0.5s;
  overflow-x: hidden;
}

a {
  list-style: none;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 0px;
}

button:active {
  background-color: white;
}
/* end Macro */

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "GT";
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  background-color: rgb(var(--colValInv), var(--colValInv), var(--colValInv));
  color: rgb(var(--colVal), var(--colVal), var(--colVal));
  z-index: 2;
  transition: 0.5s;
}

.header-logo {
  padding: 20px;
  padding-left: 60px;
  display: flex;
  flex-grow: 1;
  opacity: 100%;
  animation-name: header-fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.header-logo h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-links {
  display: flex;
  padding-right: 60px;
  opacity: 100%;
  animation-name: header-link-fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.header-links > a {
  color: rgb(var(--colVal), var(--colVal), var(--colVal));
  text-decoration: underline
    rgba(var(--colVal), var(--colVal), var(--colVal), 0);
  transition: text-decoration-color 300ms;
}

.header-links > a:hover {
  text-decoration-color: rgba(var(--colVal), var(--colVal), var(--colVal), 1);
}
/* end header */

/* landing text */
.landing-element {
  font-family: GT;
  font-size: 5.4em;
  line-height: 2.2em;
  color: rgb(var(--colVal), var(--colVal), var(--colVal));
  letter-spacing: -1px;
  /* transition: 0.5s; */
}

.landing-element h1 {
  margin: unset;
  padding: 60px;
  padding-top: 140px;
  animation-name: landing-text-fadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  opacity: 100%;
}
/* end landing text */

/* scroll-linked positioning animations and section layout styling */
.black-background {
  background-color: black;
  opacity: 0%;
  transition: 500ms;
  transform: translateX(250px);
}

.black-background.active {
  transform: translateX(0);
  opacity: 100%;
}

.black-background.active > .line-element-right {
  transform: translateX(0);
  opacity: 100%;
}

.black-background.active > .line-element-left {
  transform: translateX(0);
  opacity: 100%;
}

.line-element-right {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(white, white);
  background-size: 85% 2px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  opacity: 0%;
  transition: 500ms;
  transition-delay: 350ms;
  transform: translateX(250px);
}

.line-element-left {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(white, white);
  background-size: 85% 2px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  opacity: 0%;
  transition: 500ms;
  transition-delay: 350ms;
  transform: translateX(-250px);
}

.title-left {
  font-family: GT;
  color: white;
}

.title-left h1 {
  margin-top: 0;
  font-size: 38px;
  margin-left: 60px;
  letter-spacing: 3px;
}

.white-background {
  opacity: 0%;
  transform: translateX(-250px);
  transition: 500ms;
}

.white-background.active {
  transform: translateX(0);
  opacity: 100%;
}

.on-white-line-element-right {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(black, black);
  background-size: 85% 2px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  opacity: 0%;
  transition: 500ms;
  transition-delay: 350ms;
  transform: translateX(250px);
}

.on-white-line-element-left {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(black, black);
  background-size: 85% 2px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  opacity: 0%;
  transition: 500ms;
  transition-delay: 350ms;
  transform: translateX(-250px);
}

.white-background.active > .on-white-line-element-right {
  transform: translateX(0);
  opacity: 100%;
}

.white-background.active > .on-white-line-element-left {
  transform: translateX(0);
  opacity: 100%;
}
/* end scroll-linked positioning animations and section layout styling */

/* projects section */
.latest-work-container {
  display: flex;
  justify-content: center;
  padding-bottom: 85px;
  padding-left: 40px;
  padding-right: 40px;
}

.work-container {
  margin: 20px;
  margin-bottom: 0;
}

.work-container > img {
  width: 100%;
  cursor: pointer;
}

.work-container > img:hover {
  animation: fade-hover-no-scaling 500ms forwards;
  animation-duration: 300ms;
}
/* end projects section */

/* about & sc links section */
.add-padding {
  padding-left: 200px;
  padding-right: 200px;
}

.blurb-container-sc-links,
.blurb-container {
  display: flex;
}

.blurb-container {
  padding-top: 80px;
  justify-content: space-around;
  align-items: center;
}

.blurb-container-2 {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blurb-container-sc-links {
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}

.blurb-element-icon > img {
  width: 100px;
  cursor: pointer;
}

.blurb-element-icon > img:hover {
  animation: fade-hover 500ms forwards;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.under-icon-text {
  font-family: "GT";
  width: 175px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.about-box,
.about-box-2 {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.about-box {
  width: 460px;
  line-height: 2.6em;
}

.about-box-2 {
  max-width: 800px;
  height: 664px;
  margin-left: 60px;
  line-height: 3em;
}

.img-place-holder {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.img-place-holder > img {
  width: 375px;
}

.about-text,
.about-me-title {
  font-family: "GT";
  color: white;
  text-align: center;
}

.about-me-title {
  margin-top: 40px;
  font-size: 2em;
}

.about-text {
  margin-top: 20px;
  font-size: 1.6em;
}

.about-graphic {
  width: 250px;
  height: 250px;
  background-color: black;
}

#prev, #next{
  display: none;
}

.dot-container {
  display: none;
}


/* end about & sc links section */

/* Modals */
.hide {
  visibility: hidden;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 1000ms;
}

.modal-border {
  background-color: var(--dark-grey);
  width: 425px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.9);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-discription {
  font-family: "GT";
  text-align: left;
  width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.modal-discription > h1 {
  margin-top: 40px;
  line-height: 2em;
  text-align: center;
}

.nameAndLinks {
  display: flex;
  flex-direction: row;
}

.nameAndLinks a {
  height:32px;
  margin-top: 20px;
  padding-left: 20px;
}

.modal-title-h3 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-text-div {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 20px;
  word-wrap: normal;
}

.modal-close {
  cursor: pointer;
  font-family: "GT";
  font-size: 2em;
  float: right;
  margin-right: 20px;
  margin-bottom: 15px;
}


/* end Modals */

/*/////////////////////////Animations/////////////////////////*/
@keyframes landing-text-fadein {
  0% {
    opacity: 0%;
    padding-top: 100px;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes header-fade-in {
  0% {
    opacity: 0%;
    padding-left: 10px;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes header-link-fade-in {
  0% {
    opacity: 0%;
    padding-right: 10px;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fade-hover {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.95);
    opacity: 0.9;
  }
}

@keyframes fade-hover-no-scaling {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.classname {
  animation-name: cssAnimation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  0% {
    transform: scale(0.95);
    opacity: 0.9;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.classname2 {
  animation-name: cssAnimation2;
  animation-delay: 50ms;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes cssAnimation2 {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*/////////////////////////End_Animations/////////////////////////*/

/* Hamburger nav */
#toggle {
  display: none;
}

.hamburger {
  animation-name: header-link-fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  top: 4.3em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 2.6em;
  height: 7px;
  border-radius: 3px;
  background-color: rgb(
    var(--colValBurger),
    var(--colValBurger),
    var(--colValBurger)
  );
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0.95;
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

nav {
  text-align: center;
  margin-top: 140px;
}

nav a {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: white;
}

nav a:hover:before {
  height: 100%;
}

/* Hamburger nav animations */
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
/* end Hamburger nav animations */
/* end Hamburger nav */

/* contact form */
.contact-title {
  font-family: GT;
  color: white;
  text-align: center;
}

.form-center {
  font-family: "GT";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

form {
  background-color: black;
  border: 3px solid white;
  padding: 20px;
  width: 30%;
  color: white;
}

form > h1 {
  text-align: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: "GT";
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid white;
  background-color: black;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  font-family: "GT";
  width: 100%;
  text-align: center;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  color: black;
}
/* end contact form */






/* Media Q's */
@media (max-width: 1551px) {
  .about-text {
    font-size: 1.2em;
  }

  .about-box-2 {
    height: 622px;
  }
}

@media (max-width: 1480px) {
  .about-text {
    font-size: 1.1em;
  }
}

@media (max-width: 1443px) {
  .add-padding {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1342px) {
  .add-padding {
    padding-left: 100px;
    padding-right: 100px;
  }

  .description-container {
    flex-direction: column;
  }

  .about-box-2,
  .about-box {
    width: 460px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .about-box-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .img-place-holder > img {
    width: 375px;
    margin-left: 30px;
  }

  .blurb-container-sc-links {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1280px) {
  form {
    width: 50%;
  }
}


@media (max-width: 1100px) {
  /* .latest-work-container {
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
  } */

  .latest-work-container {
    position: relative;
  }

  .work-container {
    position: relative;
    width: 460px;
    height: 280px;
    display: none;
  }

  .active {
    display: block;
  }

  .dot-container{
    width: 250px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button {
    outline: none;
    cursor: pointer;
  }

  .dot-container button {
    height: 15px;
    width: 25px;
    border-radius: 10%;
    border: 2px solid white;
    background-color: transparent;
  }

  .dot-container button:nth-child(1){
    background-color: white;
  }

  #prev, #next{
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: white;
    color: black;
    margin: auto;
    margin-left: 180px;
    margin-right: 180px;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
  }

  #prev{
    left: 5px;
  }

  #next{
    right: 5px;
  }
}

@media (max-width: 1000px) {
  .landing-element {
    font-size: 4em;
  }
}

@media (max-width: 960px) {
  #prev,
  #next{
    margin-left: 80px;
    margin-right: 80px;
  }
}


@media (max-width: 840px) {
  .latest-work-container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .blurb-element-icon > img {
    width: 75px;
  }

  .latest-work-container {
    padding-bottom: 30px;
  }

  .latest-work-container > div{
    margin-bottom: 30px;
  }
}

@media (max-width: 840px) {
  .landing-element {
    font-size: 3.5em;
  }
}

@media (max-width: 757px) {
  header {
    height: 97px;
  }
}

@media (max-width: 760px) {
  #prev, #next{
    font-size: 0.8em;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 740px) {
  .modal-border {
    width: 175px;
  }

  .modal-container {
    width: 450px;
  }

  .modal-discription {
    width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .modal-title-h3 {
    font-size: 1.5em;
  }

  .modal-text-div {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  .modal-close {
    font-size: 1em;
  }

  .modal-image {
    width: 450px;
  }
}

@media (max-width: 695px) {
  #prev, 
  #next{
    display: none;
  }

  .latest-work-container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .add-padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  .under-icon-text {
    font-size: 0.8em;
  }

  .blurb-element > img {
    width: 75px;
  }
}

@media (max-width: 600px) {
  .landing-element {
    font-size: 2em;
  }

  form {
    width: 75%;
  }
}

@media (max-width: 555px) {
  .latest-work-container {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 455px) {
  .latest-work-container {
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .modal-container {
    width: 360px;
  }

  .modal-image {
    width: 360px;
  }

  .modal-discription {
    width: 360px;
  }
}

@media (min-width: 1930px) {
  .header-logo h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2.4em;
  }

  .header-links a {
    font-size: 1.6em;
  }

  .landing-element {
    font-size: 5.8em;
  }

  .title-left h1 {
    margin-top: 0;
    font-size: 46px;
    margin-left: 60px;
    letter-spacing: 3px;
  }

  .modal-title-h3 {
    font-size: 2.4em;
  }

  .modal-text-div {
    font-size: 1.4em;
  }

  .nameAndLinks a {
    margin-top: 25px;
  }

  .blurb-element img {
    width: 125px;
  }

  .under-icon-text {
    font-size: 1.4em;
  }

  .about-box {
    width: 460px;
    line-height: 2.6em;
  }

  .about-box-2 {
    max-width: 800px;
    height: 664px;
    margin-left: 60px;
    line-height: 3em;
  }

  .about-text,
  .about-me-title {
    font-family: "GT";
    color: white;
    text-align: center;
    font-size: 1.8em;
  }

  .contact-title h1 {
    font-size: 2.6em;
  }

  form {
    border: 4px solid white;
    padding: 24px;
    width: 38%;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 14px 24px;
    margin: 12px 0;
    border: 2px solid white;
    border-radius: 5px;
  }

  button[type="submit"],
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: 1em;
  }

  form {
    font-size: 1.8em;
  }
}

@media (min-width: 2120px) {
  .header-logo h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.8em;
  }

  .header-links a {
    font-size: 2em;
  }

  .landing-element {
    font-size: 6.2em;
  }

  .title-left h1 {
    margin-top: 0;
    font-size: 54px;
    margin-left: 60px;
    letter-spacing: 3px;
  }

  .modal-container {
    width: 900px;
  }

  .modal-image {
    width: 900px;
  }

  .modal-discription {
    font-family: "GT";
    text-align: left;
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .modal-title-h3 {
    font-size: 3em;
  }

  #project-modal-link img {
    width: 44px;
  }

  #project-modal-link-git img {
    width: 44px;
  }

  .modal-text-div {
    font-size: 2em;
  }

  .modal-close {
    font-size: 2.6em;
  }

  .nameAndLinks a {
    margin-top: 30px;
  }

  .blurb-element img {
    width: 150px;
  }

  .under-icon-text {
    font-size: 1.5em;
  }

  .about-box {
    width: 500px;
    line-height: 2.6em;
  }

  .about-box-2 {
    max-width: 840px;
    height: 664px;
    margin-left: 60px;
    line-height: 3em;
  }

  .about-text,
  .about-me-title {
    font-size: 2.2em;
  }
}

@media (min-width: 2120px) {
  .landing-element {
    font-size: 6.6em;
  }
  
  .img-place-holder > img {
    width: 375px;
  }
}

@media (min-width: 2600px) {
  .header-logo h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 6em;
  }

  .header-links a {
    font-size: 3.8em;
    padding-right: 80px;
  }

  .landing-element {
    font-size: 12em;
  }

  .landing-element h1 {
    padding-top: 200px;
  }

  .title-left h1 {
    margin-top: 0;
    font-size: 7em;
    margin-left: 60px;
    letter-spacing: 3px;
  }

  .latest-work-container {
    margin-top: 40px;
  }

  .modal-container {
    width: 1400px;
  }

  .modal-image {
    width: 1400px;
  }

  .modal-discription {
    font-family: "GT";
    text-align: left;
    width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .modal-title-h3 {
    font-size: 4.8em;
  }

  #project-modal-link img {
    width: 64px;
  }

  #project-modal-link-git img {
    width: 64px;
  }

  .modal-text-div {
    font-size: 3.4em;
  }

  .modal-close {
    font-size: 3.6em;
  }

  .nameAndLinks a {
    margin-top: 30px;
  }

  .blurb-element img {
    width: 250px;
  }

  .under-icon-text {
    width: 475px;
  }

  .under-icon-text {
    font-size: 2.8em;
  }

  .about-box {
    width: 975px;
    line-height: 4em;
    height: 1100px;
  }

  .about-me-title {
    margin-top: 60px;
  }

  .img-place-holder {
    margin-top: 60px;
  }

  .img-place-holder > img {
    width: 575px;
  }

  .about-box-2 {
    max-width: 1115px;
    height: 1100px;
    margin-left: 80px;
    line-height: 4.6em;
  }

  .about-text,
  .about-me-title {
    font-size: 3.6em;
  }

  .blurb-element-icon > img {
    width: 200px;
  }

  
  .contact-title h1 {
    font-size: 4em;
  }

  .form-center {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  form {
    border: 5px solid white;
    padding: 36px;
    width: 40%;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 18px 28px;
    margin: 16px 0;
    border: 3px solid white;
    border-radius: 6px;
  }

  button[type="submit"],
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: 1.2em;
  }

  form {
    font-size: 2.8em;
  }
}




